button {
  cursor: pointer;
  border: none;
}

button:disabled, input:disabled {
  cursor: not-allowed;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.v-popper__inner {
  font-size: 12px;
  padding: 4px 10px !important;
}

.v-popper__arrow-container {
  display: none !important;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

.splitpanes--vertical .splitpanes__pane {
  transition: none;
}

.splitpanes--vertical > .splitpanes__splitter {
  display: none;
}

[data-sonner-toaster][data-theme='dark'] {
  --normal-bg: var(--zinc-700) !important;
  --normal-border: hsl(0deg 0% 20%);
  --normal-text: var(--gray1);
  --success-border: hsl(147deg 100% 12%);
  --info-bg: var(--zinc-700);
}

.vue-ui-kpi {
  background: transparent !important;
}

.vue-ui-kpi-value {
  color: var(--blue-secondary) !important;
}

.vue-data-ui-fulscreen--off {
  circle {
    fill: #fff !important;
  }
}

html.dark {
  .v-popper__inner {
    background-color: var(--zinc-600) !important;
    color: var(--zinc-200) !important;
  }

  .vue-data-ui-fulscreen--off {
    circle {
      fill: #313131 !important;
    }
  }
}
