::-webkit-scrollbar {
  background-color: transparent;
  height: 0.6em;
  width: 0.6em;
}

::-webkit-scrollbar-track {
  @apply bg-neutral-100 dark:bg-neutral-700/20
}

::-webkit-scrollbar-thumb {
  @apply bg-neutral-300 rounded-xl dark:bg-neutral-700
}
