::-webkit-scrollbar {
  background-color: transparent;
  height: 0.6em;
  width: 0.6em;
}

::-webkit-scrollbar-track {
  background-color: var(--zinc-100);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.6em;
  background-color: rgba(var(--zinc-rgb-300), 0.5);
}

html.dark {
  ::-webkit-scrollbar-track {
    background-color:  rgba(var(--zinc-rgb-600), 0.2);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--zinc-600)
  }
}
