html.light {
  --sidebar-bg-color: #fafafa;
  --sidebar-text-color: #26262a;
  --sidebar-section-color: #e5e5e5;
  --main-slotted: #fff;
  --blue-basic: #266DF0;
  --blue-secondary: #538BF3;
}

html.dark {
  --sidebar-bg-color: #1c1c1c66;
  --sidebar-text-color: #f5f5f5;
  --sidebar-section-color: #e5e5e5;
  --main-slotted: #262626;
}
