button {
  cursor: pointer;
  border: none;
}

button:disabled {
  cursor: not-allowed;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.v-popper__inner {
  font-size: 12px;
  padding: 4px 10px !important;
}

.v-popper__arrow-container{
  display: none !important;
}

canvas{
  width: 100% !important;
  height: 100% !important;
}

.splitpanes--vertical .splitpanes__pane{
  transition: none;
}

.splitpanes--vertical > .splitpanes__splitter {
  display: none;
}

.splitpanes__pane{
  overflow: unset;
}
