::-webkit-scrollbar {
  background-color: transparent;
  height: 0.6em;
  width: 0.6em;
}

::-webkit-scrollbar-track {
  background-color: var(--zinc-100);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.6em;
  background-color: var(--zinc-200);
}
