::-webkit-scrollbar {
  background-color: transparent;
  height: 0.6em;
  width: 0.6em;
}

::-webkit-scrollbar-track {
  background-color: rgb(241 245 249);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.6em;
  background-color: rgb(203 213 225);
}
