@mixin transition {
  & {
    transition-property: color, background-color, text-decoration-color, fill, stroke, opacity;
  }

  & {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  & {
    transition-duration: 150ms;
  }
}