.ProseMirror {
  @apply relative focus:!outline-0;
}

.jenda-editor {
  @apply flex flex-col space-y-4;
}

.jenda-editor h1 {
  @apply text-xl font-extrabold dark:text-neutral-100;
}

.jenda-editor h2 {
  @apply text-lg font-extrabold dark:text-neutral-100;
}

.jenda-editor h3 {
  @apply text-17px font-extrabold dark:text-neutral-200;
}

.jenda-editor p {
  @apply text-sm dark:text-neutral-200;
}

.jenda-editor span {
  @apply text-sm dark:text-neutral-200;
}

.jenda-editor ol,
.jenda-editor ul {
  @apply !mt-2 ml-8 list-outside dark:text-neutral-200;
}

.jenda-editor ol {
  @apply list-decimal dark:text-neutral-200;
}
.jenda-editor ul {
  @apply list-disc dark:text-neutral-200;
}

.jenda-editor ol li,
.jenda-editor ul li {
  @apply mt-2 first:mt-0 dark:text-neutral-200;
}

.jenda-editor blockquote {
  @apply !mb-2 !mt-6 ml-6 border-l-4 border-neutral-300 p-4 py-2 italic dark:text-neutral-200;
}

.jenda-editor a {
  @apply cursor-pointer text-blue-800 hover:underline dark:text-neutral-200;
}

.jenda-editor hr {
  @apply border-neutral-400;
}

.jenda-editor table {
  @apply w-full table-fixed border-collapse border border-neutral-400;
}

.jenda-editor table th,
.jenda-editor table td {
  @apply relative border border-neutral-400 px-2 py-1;
}

.jenda-editor table th {
  @apply bg-blue-100;
}

.jenda-editor .tableWrapper {
  @apply overflow-x-hidden;
}

.ProseMirror iframe {
  @apply mr-6 !aspect-video !h-auto !w-full max-w-28;
}

.ProseMirror img.ProseMirror-selectednode,
.ProseMirror .ProseMirror-selectednode iframe {
  @apply block outline outline-8 outline-yellow-500 transition-all ease-in duration-150;
}

.ProseMirror img {
  @apply mr-6 w-full max-w-28 object-scale-down object-center;
}

.ProseMirror img.ProseMirror-selectednode,
.ProseMirror div[data-youtube-video] {
  @apply cursor-move;
}

.ProseMirror .selectedCell:after {
  @apply pointer-events-none absolute inset-0 z-[2] bg-neutral-400/30 content-[''];
}

.ProseMirror .column-resize-handle {
  @apply pointer-events-none absolute bottom--2px right--2px top-0 w-1 bg-sky-200;
}

.ProseMirror-gapcursor {
  @apply pointer-events-none !relative hidden;
  @apply after:!relative after:mt-1 after:block after:h-5 after:!border-t-0 after:border-l after:border-black after:content-[''];
}
.ProseMirror-gapcursor:after {
  animation: ProseMirror-cursor-blink 1.1s steps(2, start) infinite;
}

.tiptap .is-empty::before {
  content: attr(data-placeholder);
  @apply text-sm dark:text-neutral-400 pointer-events-none h-0 float-left text-neutral-500;
}

.tiptap code {
  @apply text-sm text-neutral-700 dark:text-neutral-400 px-1 rounded-sm font-mono bg-blue-50 dark:bg-neutral-800 dark:text-neutral-400;
}

@keyframes ProseMirror-cursor-blink {
  to {
    visibility: hidden;
  }
}
.ProseMirror-focused .ProseMirror-gapcursor {
  @apply block;
}
